body {
    background:ghostwhite;text-align:center;display:flex;flex-direction:column;min-height:90vh;justify-content:center;color:midnightblue
}

h1 {
    font:4rem 'Pacifico', cursive
}

h2 {
    font:1rem 'Lucida Console', Monaco, monospace
}
